.footer {
    @extend %grid;

    color: $white;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: $blue;

    @include respond-to("sm-md") {
        flex-direction: row;
    }


    @include respond-to("sm-md") {
        position: fixed;
        bottom: 0;
        width: $col-12;
    }


    h2 {
        &:hover {
            color: $gray;
        }
    }
}

svg {
    fill: $light-gray;

    &:hover {
        fill: $gray;
    }
}