.home {
    @extend %grid;
    font-size: 1.4rem;
    margin-top: 0.5em;
    justify-content: space-between;
    text-align: center;

    &__intro {
        width: $col-12;
        line-height: 1.5em;

        @include respond-to("sm-md") {
            width: $col-7;
        }
    }

    &__offers {
        
        width: $col-12;

        @include respond-to("sm-md") {
            width: $col-4;
        }
    }
}